In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tungor,RU,2021-10-07 00:47:11,53.3808,142.9564,44.33,57,53,17.16
1,1,Bengkulu,ID,2021-10-07 00:45:55,-3.8004,102.2655,73.85,94,100,3.83
2,2,Bridlington,GB,2021-10-07 00:47:12,54.0831,-0.1919,53.89,79,100,13.87
3,3,Reguengos De Monsaraz,PT,2021-10-07 00:47:12,38.4253,-7.5349,65.88,57,0,7.14
4,4,Krasnoselkup,RU,2021-10-07 00:47:12,65.7000,82.4667,41.07,95,100,17.47

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)


# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#6.5.3.

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Laguna,US,2021-10-07 00:47:13,38.4210,-121.4238,76.21,31,1,5.01
7,7,Hithadhoo,MV,2021-10-07 00:44:58,-0.6000,73.0833,83.30,75,59,10.71
13,13,Mazagao,BR,2021-10-07 00:47:14,-0.1150,-51.2894,86.05,78,100,5.44
26,26,Fukue,JP,2021-10-07 00:47:17,32.6881,128.8419,75.56,83,20,4.61
31,31,Barabai,ID,2021-10-07 00:47:18,-2.5833,115.3833,81.36,78,100,0.40
35,35,Kousseri,CM,2021-10-07 00:47:18,12.0769,15.0306,78.76,44,12,5.75
37,37,Sorong,ID,2021-10-07 00:47:19,-0.8833,131.2500,82.26,76,99,6.24
41,41,Touros,BR,2021-10-07 00:47:20,-5.1989,-35.4608,79.70,84,20,17.20
44,44,Vaini,TO,2021-10-07 00:44:53,-21.2000,-175.2000,80.76,89,40,12.66
45,45,Flinders,AU,2021-10-07 00:45:43,-34.5833,150.8552,84.06,38,0,7.40

In [10]:
preferred_cities_df.count()

City ID       171
City          171
Country       171
Date          171
Lat           171
Lng           171
Max Temp      171
Humidity      171
Cloudiness    171
Wind Speed    171
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
5      Laguna      US     76.21  38.4210 -121.4238
7   Hithadhoo      MV     83.30  -0.6000   73.0833
13    Mazagao      BR     86.05  -0.1150  -51.2894
26      Fukue      JP     75.56  32.6881  128.8419
31    Barabai      ID     81.36  -2.5833  115.3833
35   Kousseri      CM     78.76  12.0769   15.0306
37     Sorong      ID     82.26  -0.8833  131.2500
41     Touros      BR     79.70  -5.1989  -35.4608
44      Vaini      TO     80.76 -21.2000 -175.2000
45   Flinders      AU     84.06 -34.5833  150.8552

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Laguna,US,76.21,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
7,Hithadhoo,MV,83.30,-0.6000,73.0833,Scoop Guest House
13,Mazagao,BR,86.05,-0.1150,-51.2894,Recanto dos Ferreiras
26,Fukue,JP,75.56,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
31,Barabai,ID,81.36,-2.5833,115.3833,HOTEL BOURAQ INDAH PERMAI

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))